<div style="min-height: 500px;">
	<img src="/base/images/vancouver-aerial.jpg" style="margin-bottom: 25px;"/>

	<p style="margin-bottom: 25px">Urban Opus features a federated data hub that provides data storage and federates existing data sources to provide a single on-line presence and point of access for Urban Opus projects and partner data sets.  It will support for both real time and static data, support and visualizations, city data analysis with urban informatics, and easy to use application programming interface (API) and app framework for rapid application development.</p>

	<div style="text-align: center;">
		<a class="btn btn-primary" href="http://urbanopus.net/portfolio/datahub/" style="font-size: 1.2em; padding: 6px 12px;">Click here to learn more at the Urban Opus Community Site</a>
	</div>
</div>


