{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
      <div role="main" class="hero">
        <div class="container">
          {% snippet 'home/snippets/search.html' %}
        </div>
      </div>
      <div role="main">
        <div class="container">
          <div class="row row2">
            <div class="span8 col2">
              {% snippet 'home/snippets/promoted.html' %}
            </div>
            <div class="span4 col1">
              {% snippet 'home/snippets/stats.html' %}
            </div>
          </div>
        </div>
      </div>

    {% endblock %}
  </div>
{% endblock %}
